name: Testes do Postman e Publica莽茫o no GitHub Pages

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  run-postman-tests:
    runs-on: ubuntu-latest

    steps:
      - name:  Clonar reposit贸rio
        uses: actions/checkout@v3

      - name:  Instalar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name:  Instalar Newman
        run: npm install -g newman

      - name:  Executar Testes e Gerar Relat贸rio HTML
        run: newman run PDIProjectCollection.json -e PDIProjectEnviromentDEV.json -r cli,html --reporter-html-export reports/newman-report.html

      - name:  Configurar GitHub Pages
        uses: actions/upload-artifact@v4
        with:
          name: newman-report
          path: reports/newman-report.html

  deploy-github-pages:
    needs: run-postman-tests
    runs-on: ubuntu-latest

    steps:
      - name:  Clonar reposit贸rio
        uses: actions/checkout@v3

      - name:  Baixar o Relat贸rio Gerado
        uses: actions/download-artifact@v4
        with:
          name: newman-report
          path: reports

      - name:  Publicar no GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: reports
          publish_branch: gh-pages
          keep_files: true  
        

